.env
.venv/
dist/
node_modules/

.terraform
.terraform.lock.hcl
terraform.tfstate*
terraform.tfvars*
# Helm generated values
project-bedrock-chart/values-generated.yaml

# Secrets
*.pem
*.key
secrets/